.logo{
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 18px;
}
.contain{
    position: relative;
}
.wel{
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 30px
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }